body{
    background-color: #0b0c10;
    color: #c5c6c8;
}

h1{
    color: #1cacd7;
}
.rotateimg90{
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 100%;
    margin: 15% 0%;
    box-sizing: border-box;
    border: 3px #c5c6c8 solid;
    border-radius: 2%;
  }

  .nav-pills 
  .nav-link 
  .active{
      background-color: #0b0c10;
  }

  #navcolor{
    background: #0b0c10;
  }

  .navcolor{
      background-color: #0b0c10;
  }

  .portfoliopg{
      color: #0b0c10;
  }